*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #ecf0f1;
}

#root canvas {
  border:1px solid #000000;
}